<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../icons/engrane.png">

    <!-- STYLES -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    
    <!-- ICONS -->
    <script src="https://kit.fontawesome.com/59bcf5d722.js" crossorigin="anonymous"></script>

    <!-- FONTS -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

    <title>Blog</title>
</head>
<body>
    <div class="main-container">
        <header class="portfolio-header">
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                  <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="img">
                        <img src="../img/Alejandro_Ramirez.jpeg" alt="Alejandro Ramírez Photo" class="alex-profile">
                    </div>
                    <h1 class="fw-normal pt-3 portfolio-name">Alejandro Ramírez</h1>
                    <p class="lead text-muted">Future Design Engineer</p>
                  </div>
                </div>
            </section>
        </header>
    
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12  mb-2 justify-content-center mb-md-0">
              <li><a href="../index.html" class="nav-link link-secondary">HOME</a></li>
              <li><a href="about.html" class="nav-link link-secondary">ABOUT ME</a></li>
              <li><a href="blog.html" class="nav-link link-secondary">BLOG</a></li>
            </ul>
        </nav>


        <div class="blog d-flex align-items-center justify-content-center">
            <div class="info">
                <p class="text-center fst-italic date">December 2022</p>
                <p class="fs-1 fw-light text-uppercase">Cooming Soon !</p>
            </div>
        </div>
    </div>


    <div class="alert-container">
        <p class="text-center">This site isn't responsive, please visit it from a computer</p>
    </div>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>